.todo {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  &__button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #218838;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: none;
    }
  }

  &__delete-button {
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    padding: 10px 21px;

    &:hover {
      background-color: #c82333;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }
}
